# Base de datos
DB_USER=admin
DB_PASSWORD=1234
DB_NAME=db_patentes_permisos
DB_HOST=db
DB_PORT=5432

# Backend
PORT=3000
JWT_SECRET=clavesecretasupersecreta

# Frontend
VITE_API_BASE_URL=http://localhost:3000/api
